{% extends 'base.html' %}

  {% block title %}
    log in
  {% endblock title %}


  {% block header %}
  <div class="alert alert-success" role="alert">
    <p>please log in!</p>
  </div>
  {% endblock header %}

  {% block customcss %}
  {% endblock customcss %}

  {% block content %}

  <body class="text-center">

    <div lass="form-signin">
        <div class="container">
            {{ error }}
            <form method="POST" enctype="multipart/form-data" action= "{% url 'login' %}">{% csrf_token %}

                <h1 class="h3 mb-3 fw-normal">ログインする</h1>
                <label for="inputEmail" class="visually-hidden"></label>
                <input type="text" id="inputEmail" class="form-control" placeholder="username" name='username'required autofocus>
                <label for="inputPassword" class="visually-hidden">パスワード</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="password" name='password'required>
                <button class="w-100 btn btn-lg btn-primary" type="submit">サインイン</button>
              </form>
        </div>
    </div>
  </div>
  
   
  {% endblock content %}