{% extends 'base.html' %}
{% load static %}

  {% block title %}
    Table
  {% endblock title %}


  {% block header %}
  <div class="alert alert-success" role="alert">
    <p>Choose number of record and event to display your training result!</p>
  </div>
  {% endblock header %}

  {% block customcss %}
  <link href="{% static 'record.css' %}" rel="stylesheet">
  {% endblock customcss %}


  {% block content %}
  <div class="container">

    <form method="POST" enctype="multipart/form-data" action= "{% url 'table' %}" class="row g-3 needs-validation" novalidate>{% csrf_token %}
        <select name="Event2" class="form-select"　aria-label="Default select example" required>
            <option selected></option>
            {% for item in event_list %}
            <option value="{{ item.event_name }}">{{ item.event_name }}</option>
            {% endfor %}
            <div class="invalid-feedback">
              表示したい種目を選択してください。
            </div>
        </select>

        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">表示するレコード数</span>
            <input type="number" class="form-control" min="1" max="20" name="number_record" required aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <div class="invalid-feedback">
              1から20までの値を入力してください。
            </div>
            <input type="hidden" name="input" value="1">
        </div>
        <div class="col-12">
          <input type="submit" value="create">
      </div>
    </form>

    {% if input2 == "2" %}
    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">種目名</th>
                <th scope="col">重量</th>
                <th scope="col">セット数</th>
              </tr>
            </thead>
            <tbody>
                {% for item in result_list %}
                <tr>
                    <th scope="row">{{ item.training_date |date:"m/d/y H:i" }}</th>
                    <td>{{ item.event }}</td>
                    <td>{{ item.weight }}</td>
                    <td>{{ item.set_number }}</td>
                </tr>
                {% endfor %} 
            </tbody>    
        </table>
    </div>
    {% endif %}

    <a class="btn btn-link" href="{% url 'index' %}" role="button">戻る</a>
  </div>
  
  <script type="text/javascript" src="{% static 'record.js' %}"></script>
   
  {% endblock content %}