{% extends 'base.html' %}

{% block title %}
    add event
{% endblock title %}

{% load static %}

{% block header %}
<div class="alert alert-success" role="alert">
    <h1>New Event</h1>
    <p>Add new traning event!</p>
  </div>
{% endblock header %}

{% block customcss %}
<link href="{% static 'record.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}
<div class="container">
    
    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">種目名</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                <tr>
                    <td>{{ item.event_name }}</td>
                    <td>
                        <form method="POST" enctype="multipart/form-data" action= "{% url 'newevent2' %}">{% csrf_token %}
                            <input type="hidden" name="delete_pk" value="{{ item.pk }}">
                            <input type="hidden" name="delete" value="1">
                            <input class="btn btn-primary" type="submit" value="削除">
                        </form>
                    </td>
                </tr>
                {% endfor %} 
            </tbody>    
        </table>
    </div>

    <form method="POST" enctype="multipart/form-data" action= "{% url 'newevent2' %}" class="row g-3 needs-validation" novalidate>{% csrf_token %}

        <div class="input-group input-group-sm mb-3">
            <input type="hidden" name="add" value="1">
            <span class="input-group-text" id="inputGroup-sizing-sm">追加する種目名</span>
            <input type="text" maxlength="30"class="form-control" name="newevent" required aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <div class="invalid-feedback">
                種目を入力してください
            </div>
        </div>

        {{ inputerror }}

        <div class="col-12">
            <input type="submit" value="add">
        </div>
    </form>

    <a class="btn btn-link" href="{% url 'index' %}" role="button">戻る</a>
    
  </div>

  <script type="text/javascript" src="{% static 'record.js' %}"></script>


{% endblock content %}