{% extends 'base.html' %}
{% load static %}

  {% block title %}
    record
  {% endblock title %}


  {% block header %}
  <div class="alert alert-success" role="alert">
    <div class="text-center">
      <h2>record today training</h2>
    </div>
  </div>
  {% endblock header %}

  {% block customcss %}
  <link href="{% static 'record.css' %}" rel="stylesheet">
  {% endblock customcss %}

  {% block content %}

  <div class="container">

    <form method="POST" enctype="multipart/form-data" action= "{% url 'record' %}" class="row g-3 needs-validation" novalidate>{% csrf_token %}

        <select name="Event2" class="form-select" aria-label="Default select example" required>
            <option selected></option>
            {% for item in object_list %}
            <option value="{{ item.event_name }}">{{ item.event_name }}</option>
            {% endfor %}
            <div class="invalid-feedback">
              該当する種目を選択してください
            </div>
        </select>

        <input type="hidden" name="input" value=1>

        <div class="col-md-6">
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">重量</span>
            <input type="number" min="0" max="400"class="form-control" name="weight"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" inputmode="numeric" required>
            <div class="invalid-feedback">
              0以上の値を入力してください
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">セット数</span>
            <input type="number" min="1" max="30" class="form-control" name="setnumber2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" inputmode="numeric" required>
            <div class="invalid-feedback">
              0より大きい値を入力してください
            </div>
          </div>
        </div>

        {{ inputerror }}

        <div class="col-12">
          <input type="submit" value="create">
        </div>
    </form>

    <a class="btn btn-link" href="{% url 'index' %}" role="button">戻る</a>

  </div>
  
  <script type="text/javascript" src="{% static 'record.js' %}"></script>
   
  {% endblock content %}